/*table font color*/
table {
    color: white;
}
/*table width*/
#
listmovies {
    width: 500 px;
}
h1 {
    color: white;
    text - shadow: 2 px 2 px 5 px red;
}
label {
    color: white;
}
body {
    background: url('../image/movieapp-bkg.jpg');
    background-repeat: no - repeat;
    background-size: cover;
}